/* /!\ You need to add vendor prefixes in order to render the CSS properly (or simply use http://leaverou.github.io/prefixfree/) /!\ */
body, html {
  background-color: rgba( 0,0,0,0.7 );
}
/* /!\ You need to add vendor prefixes in order to render the CSS properly (or simply use http://leaverou.github.io/prefixfree/) /!\ */
div {
  background-color: green;
  text-align: center;
  line-height: 100px;
}
/* /!\ You need to add vendor prefixes in order to render the CSS properly (or simply use http://leaverou.github.io/prefixfree/) /!\ */ #tridiv {
  perspective: 800px;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: transparent;
  font-size: 50%;
}
.face {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.48);
}
.scene, .shape, .face, .face-wrapper, .cr {
  position: absolute;
  transform-style: preserve-3d;
}
.scene {
  width: 80em;
  height: 80em;
  top: 50%;
  left: 50%;
  margin: -40em 0 0 -40em;
}
.shape {
  background-color: gray;
  
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform-origin: 50%;
}
.face, .face-wrapper {
  overflow: hidden;
  transform-origin: 0 0;
  backface-visibility: hidden;
  /* hidden by default, prevent blinking and other weird rendering glitchs */
}
.face {
  background-size: 100% 100%!important;
  background-position: center;
}
.face-wrapper .face {
  left: 100%;
  width: 100%;
  height: 100%
}
.photon-shader {

  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%
}
.side {
  left: 50%;
}
.cr, .cr .side {
  height: 100%;
}
[class*="cuboid"] .ft, [class*="cuboid"] .bk {
  width: 100%;
  height: 100%;
}
[class*="cuboid"] .bk {
  left: 100%;
}
[class*="cuboid"] .rt {
  transform: rotateY(-90deg) translateX(-50%);
}
[class*="cuboid"] .lt {
  transform: rotateY(90deg) translateX(-50%);
}
[class*="cuboid"] .tp {
  transform: rotateX(90deg) translateY(-50%);
}
[class*="cuboid"] .bm {
  transform: rotateX(-90deg) translateY(-50%);
}
[class*="cuboid"] .lt {
  left: 100%;
}
[class*="cuboid"] .bm {
  top: 100%;
}
/* .cub-1 styles */
.cub-1 {
  transform:translate3D(1.875em, -1.875em, 1.875em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:3.5999999999999996em;
  height:3.4999999999999996em;
  margin:-1.7499999999999998em 0 0 -1.7999999999999998em;
}
.cub-1 .ft {
  transform:translateZ(1.8499999999999996em);
}
.cub-1 .bk {
  transform:translateZ(-1.8499999999999996em) rotateY(180deg);
}
.cub-1 .rt, .cub-1 .lt {
  width:3.6999999999999993em;
  height:3.4999999999999996em;
}
.cub-1 .tp, .cub-1 .bm {
  width:3.5999999999999996em;
  height:3.6999999999999993em;
}
.cub-1 .face {
  background-color:#FFFFFF;
}
/* .cub-2 styles */
.cub-2 {
  transform:translate3D(1.875em, -1.875em, 6em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:3.5999999999999996em;
  height:3.4999999999999996em;
  margin:-1.7499999999999998em 0 0 -1.7999999999999998em;
}
.cub-2 .ft {
  transform:translateZ(1.8499999999999996em);
}
.cub-2 .bk {
  transform:translateZ(-1.8499999999999996em) rotateY(180deg);
}
.cub-2 .rt, .cub-2 .lt {
  width:3.6999999999999993em;
  height:3.4999999999999996em;
}
.cub-2 .tp, .cub-2 .bm {
  width:3.5999999999999996em;
  height:3.6999999999999993em;
}
.cub-2 .face {
  background-color:#FFFFFF;
}
/* .cub-3 styles */
.cub-3 {
  transform:translate3D(1.875em, -1.875em, 10.125em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:3.5999999999999996em;
  height:3.4999999999999996em;
  margin:-1.7499999999999998em 0 0 -1.7999999999999998em;
}
.cub-3 .ft {
  transform:translateZ(1.8499999999999996em);
}
.cub-3 .bk {
  transform:translateZ(-1.8499999999999996em) rotateY(180deg);
}
.cub-3 .rt, .cub-3 .lt {
  width:3.6999999999999993em;
  height:3.4999999999999996em;
}
.cub-3 .tp, .cub-3 .bm {
  width:3.5999999999999996em;
  height:3.6999999999999993em;
}
.cub-3 .face {
  background-color:#FFFFFF;
}
/* .cub-4 styles */
.cub-4 {
  transform:translate3D(1.875em, -1.875em, 14.25em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:3.5999999999999996em;
  height:3.4999999999999996em;
  margin:-1.7499999999999998em 0 0 -1.7999999999999998em;
}
.cub-4 .ft {
  transform:translateZ(1.8499999999999996em);
}
.cub-4 .bk {
  transform:translateZ(-1.8499999999999996em) rotateY(180deg);
}
.cub-4 .rt, .cub-4 .lt {
  width:3.6999999999999993em;
  height:3.4999999999999996em;
}
.cub-4 .tp, .cub-4 .bm {
  width:3.5999999999999996em;
  height:3.6999999999999993em;
}
.cub-4 .face {
  background-color:#FFFFFF;
}
/* .cub-5 styles */
.cub-5 {
  transform:translate3D(1.875em, -1.875em, 18.375em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:3.5999999999999996em;
  height:3.4999999999999996em;
  margin:-1.7499999999999998em 0 0 -1.7999999999999998em;
}
.cub-5 .ft {
  transform:translateZ(1.8499999999999996em);
}
.cub-5 .bk {
  transform:translateZ(-1.8499999999999996em) rotateY(180deg);
}
.cub-5 .rt, .cub-5 .lt {
  width:3.6999999999999993em;
  height:3.4999999999999996em;
}
.cub-5 .tp, .cub-5 .bm {
  width:3.5999999999999996em;
  height:3.6999999999999993em;
}
.cub-5 .face {
  background-color:#FFFFFF;
}
/* .cub-6 styles */
.cub-6 {
  transform:translate3D(1.875em, -1.875em, 22.5em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:3.5999999999999996em;
  height:3.4999999999999996em;
  margin:-1.7499999999999998em 0 0 -1.7999999999999998em;
}
.cub-6 .ft {
  transform:translateZ(1.8499999999999996em);
}
.cub-6 .bk {
  transform:translateZ(-1.8499999999999996em) rotateY(180deg);
}
.cub-6 .rt, .cub-6 .lt {
  width:3.6999999999999993em;
  height:3.4999999999999996em;
}
.cub-6 .tp, .cub-6 .bm {
  width:3.5999999999999996em;
  height:3.6999999999999993em;
}
.cub-6 .face {
  background-color:#FFFFFF;
}
.cub-6 .ft {
  width:3.5999999999999996em;
  margin-left:0em;
}
.cub-6 .bk {
  width:3.5999999999999996em;
  margin-left:0em;
}
.cub-6 .rt, .cub-6 .lt {
  width:3.6999999999999993em;
}
.cub-6 .tp, .cub-6 .bm, .cub-6 .tp .photon-shader, .cub-6 .bm .photon-shader {
  border-radius:0em;
}
.cub-6 .cr {
  width:0em;
  left:0em;
}
.cub-6 .cr-0 {
  transform: translate3D(3.5999999999999996em, 0, 1.8499999999999996em);
}
.cub-6 .cr-1 {
  transform: translate3D(3.5999999999999996em, 0, -1.8499999999999996em);
}
.cub-6 .cr-2 {
  transform: translate3D(0, 0, -1.8499999999999996em);
}
.cub-6 .cr-3 {
  transform: translate3D(0, 0, 1.8499999999999996em);
}
.cub-6 .cr-0 .s0 {
  transform: rotateY(15deg) translate3D(-50%, 0, -0.025em);
}
.cub-6 .cr-0 .s1 {
  transform: rotateY(45deg) translate3D(-50%, 0, -0.025em);
}
.cub-6 .cr-0 .s2 {
  transform: rotateY(75deg) translate3D(-50%, 0, -0.025em);
}
.cub-6 .cr-1 .s0 {
  transform: rotateY(105deg) translate3D(-50%, 0, -0.025em);
}
.cub-6 .cr-1 .s1 {
  transform: rotateY(135deg) translate3D(-50%, 0, -0.025em);
}
.cub-6 .cr-1 .s2 {
  transform: rotateY(165deg) translate3D(-50%, 0, -0.025em);
}
.cub-6 .cr-2 .s0 {
  transform: rotateY(195deg) translate3D(-50%, 0, -0.025em);
}
.cub-6 .cr-2 .s1 {
  transform: rotateY(225deg) translate3D(-50%, 0, -0.025em);
}
.cub-6 .cr-2 .s2 {
  transform: rotateY(255deg) translate3D(-50%, 0, -0.025em);
}
.cub-6 .cr-3 .s0 {
  transform: rotateY(285deg) translate3D(-50%, 0, -0.025em);
}
.cub-6 .cr-3 .s1 {
  transform: rotateY(315deg) translate3D(-50%, 0, -0.025em);
}
.cub-6 .cr-3 .s2 {
  transform: rotateY(345deg) translate3D(-50%, 0, -0.025em);
}
.cub-6 .side {
  width:0.025em;
}
/* .cub-7 styles */
.cub-7 {
  transform:translate3D(1.875em, -1.875em, 26.625em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:3.5999999999999996em;
  height:3.4999999999999996em;
  margin:-1.7499999999999998em 0 0 -1.7999999999999998em;
}
.cub-7 .ft {
  transform:translateZ(1.8499999999999996em);
}
.cub-7 .bk {
  transform:translateZ(-1.8499999999999996em) rotateY(180deg);
}
.cub-7 .rt, .cub-7 .lt {
  width:3.6999999999999993em;
  height:3.4999999999999996em;
}
.cub-7 .tp, .cub-7 .bm {
  width:3.5999999999999996em;
  height:3.6999999999999993em;
}
.cub-7 .face {
  background-color:#FFFFFF;
}
/* .cub-8 styles */
.cub-8 {
  transform:translate3D(1.875em, -1.875em, 30.75em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:3.5999999999999996em;
  height:3.4999999999999996em;
  margin:-1.7499999999999998em 0 0 -1.7999999999999998em;
}
.cub-8 .ft {
  transform:translateZ(1.8499999999999996em);
}
.cub-8 .bk {
  transform:translateZ(-1.8499999999999996em) rotateY(180deg);
}
.cub-8 .rt, .cub-8 .lt {
  width:3.6999999999999993em;
  height:3.4999999999999996em;
}
.cub-8 .tp, .cub-8 .bm {
  width:3.5999999999999996em;
  height:3.6999999999999993em;
}
.cub-8 .face {
  background-color:#FFFFFF;
}
/* .cub-9 styles */
.cub-9 {
  transform:translate3D(6em, -1.875em, 1.875em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:3.5999999999999996em;
  height:3.4999999999999996em;
  margin:-1.7499999999999998em 0 0 -1.7999999999999998em;
}
.cub-9 .ft {
  transform:translateZ(1.8499999999999996em);
}
.cub-9 .bk {
  transform:translateZ(-1.8499999999999996em) rotateY(180deg);
}
.cub-9 .rt, .cub-9 .lt {
  width:3.6999999999999993em;
  height:3.4999999999999996em;
}
.cub-9 .tp, .cub-9 .bm {
  width:3.5999999999999996em;
  height:3.6999999999999993em;
}
.cub-9 .face {
  background-color:#FFFFFF;
}
/* .cub-10 styles */
.cub-10 {
  transform:translate3D(6em, -1.875em, 6em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:3.5999999999999996em;
  height:3.4999999999999996em;
  margin:-1.7499999999999998em 0 0 -1.7999999999999998em;
}
.cub-10 .ft {
  transform:translateZ(1.8499999999999996em);
}
.cub-10 .bk {
  transform:translateZ(-1.8499999999999996em) rotateY(180deg);
}
.cub-10 .rt, .cub-10 .lt {
  width:3.6999999999999993em;
  height:3.4999999999999996em;
}
.cub-10 .tp, .cub-10 .bm {
  width:3.5999999999999996em;
  height:3.6999999999999993em;
}
.cub-10 .face {
  background-color:#FFFFFF;
}
/* .cub-11 styles */
.cub-11 {
  transform:translate3D(6em, -1.875em, 10.125em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:3.5999999999999996em;
  height:3.4999999999999996em;
  margin:-1.7499999999999998em 0 0 -1.7999999999999998em;
}
.cub-11 .ft {
  transform:translateZ(1.8499999999999996em);
}
.cub-11 .bk {
  transform:translateZ(-1.8499999999999996em) rotateY(180deg);
}
.cub-11 .rt, .cub-11 .lt {
  width:3.6999999999999993em;
  height:3.4999999999999996em;
}
.cub-11 .tp, .cub-11 .bm {
  width:3.5999999999999996em;
  height:3.6999999999999993em;
}
.cub-11 .face {
  background-color:#FFFFFF;
}
/* .cub-12 styles */
.cub-12 {
  transform:translate3D(6em, -1.875em, 14.25em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:3.5999999999999996em;
  height:3.4999999999999996em;
  margin:-1.7499999999999998em 0 0 -1.7999999999999998em;
}
.cub-12 .ft {
  transform:translateZ(1.8499999999999996em);
}
.cub-12 .bk {
  transform:translateZ(-1.8499999999999996em) rotateY(180deg);
}
.cub-12 .rt, .cub-12 .lt {
  width:3.6999999999999993em;
  height:3.4999999999999996em;
}
.cub-12 .tp, .cub-12 .bm {
  width:3.5999999999999996em;
  height:3.6999999999999993em;
}
.cub-12 .face {
  background-color:#FFFFFF;
}
/* .cub-13 styles */
.cub-13 {
  transform:translate3D(6em, -1.875em, 18.375em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:3.5999999999999996em;
  height:3.4999999999999996em;
  margin:-1.7499999999999998em 0 0 -1.7999999999999998em;
}
.cub-13 .ft {
  transform:translateZ(1.8499999999999996em);
}
.cub-13 .bk {
  transform:translateZ(-1.8499999999999996em) rotateY(180deg);
}
.cub-13 .rt, .cub-13 .lt {
  width:3.6999999999999993em;
  height:3.4999999999999996em;
}
.cub-13 .tp, .cub-13 .bm {
  width:3.5999999999999996em;
  height:3.6999999999999993em;
}
.cub-13 .face {
  background-color:#FFFFFF;
}
/* .cub-14 styles */
.cub-14 {
  transform:translate3D(6em, -1.875em, 22.5em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:3.5999999999999996em;
  height:3.4999999999999996em;
  margin:-1.7499999999999998em 0 0 -1.7999999999999998em;
}
.cub-14 .ft {
  transform:translateZ(1.8499999999999996em);
}
.cub-14 .bk {
  transform:translateZ(-1.8499999999999996em) rotateY(180deg);
}
.cub-14 .rt, .cub-14 .lt {
  width:3.6999999999999993em;
  height:3.4999999999999996em;
}
.cub-14 .tp, .cub-14 .bm {
  width:3.5999999999999996em;
  height:3.6999999999999993em;
}
.cub-14 .face {
  background-color:#FFFFFF;
}
/* .cub-15 styles */
.cub-15 {
  transform:translate3D(6em, -1.875em, 26.625em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:3.5999999999999996em;
  height:3.4999999999999996em;
  margin:-1.7499999999999998em 0 0 -1.7999999999999998em;
}
.cub-15 .ft {
  transform:translateZ(1.8499999999999996em);
}
.cub-15 .bk {
  transform:translateZ(-1.8499999999999996em) rotateY(180deg);
}
.cub-15 .rt, .cub-15 .lt {
  width:3.6999999999999993em;
  height:3.4999999999999996em;
}
.cub-15 .tp, .cub-15 .bm {
  width:3.5999999999999996em;
  height:3.6999999999999993em;
}
.cub-15 .face {
  background-color:#FFFFFF;
}
/* .cub-16 styles */
.cub-16 {
  transform:translate3D(6em, -1.875em, 30.75em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:3.5999999999999996em;
  height:3.4999999999999996em;
  margin:-1.7499999999999998em 0 0 -1.7999999999999998em;
}
.cub-16 .ft {
  transform:translateZ(1.8499999999999996em);
}
.cub-16 .bk {
  transform:translateZ(-1.8499999999999996em) rotateY(180deg);
}
.cub-16 .rt, .cub-16 .lt {
  width:3.6999999999999993em;
  height:3.4999999999999996em;
}
.cub-16 .tp, .cub-16 .bm {
  width:3.5999999999999996em;
  height:3.6999999999999993em;
}
.cub-16 .face {
  background-color:#FFFFFF;
}